<div class="auth-form-box">
  <h4>ورود اعضا</h4>
  <a class="google-auth" href="#">ورود از طریق گوگل</a>
  <div class="divider">
      <div class="left"></div>
      <h4>یا</h4>
      <div class="right"></div>
  </div>
  <form>
      <input name="username" type="text" placeholder="نام کاربری یا ایمیل ..."/>
      <input name="password" type="password" placeholder="کلمه عبور ..."/>
      <div>
        <mat-checkbox><p>مرا به خاطر بسپارید</p></mat-checkbox>
      </div>
      <button type="submit">ورود</button>
  </form>
  <p class="switch-link">عضو نیستید؟ <a href="register.html">عضویت</a></p>
</div>
<!-- <a href="#" class="home"><i class="material-icons">home</i></a> -->
