    <div fxLayout="column" fxLayoutAlign="space-around center" class="mat-elevation-z8">
    <div fxFlex=" 30 30 1000">

    <mat-card>
      <div class="mom">

        <div class="box1">
          <div class="auth-form-box">
            <div class="title" fxLayout="row" fxLayoutAlign="space-evenly center">
              <h2>آخرین سفارشات</h2>
            </div>

            <div class="content">
              <h2 id="t1">کارت ویزیت شخصی</h2>
            </div>

          </div>
        </div>

        <!-- second box -->

        <div class="box2">
          <div class="auth-form-boxes">
            <div class="title" fxLayout="row" fxLayoutAlign="space-evenly center">
              <h4>آخرین تیکت پشتیبانی</h4>
            </div>
          </div>
        </div>

        <div class="space"></div>
      </div>


<div class="box3">
  <div class="card-form-boxes">
    <div class="title" fxLayout="row" fxLayoutAlign="start center">
      <h4 id="t3">اطلاعات کاربری</h4>
    </div>
  </div>
</div>


    </mat-card>
    </div>
    </div>

