body{
    background-color: rgb(249, 249, 249);
}

.content{
       padding: 20px;
       direction: rtl;
       overflow: auto;
       clear: both;
       margin:30px auto;
       width: 74%;
       background-color: white;
       border-radius: 15px;
       box-shadow: 1px 1px 5px lightgray; 
       background: url(../images/contact.jpg);
       

   }
   
  
   .title h4
   {
    float: right;
   }


   .contact h6
   {
        display: block;
        text-align: right;
        margin-top: 60px;
        margin-right: 15px;
   }

   .contact h6::before
   {
    font-family: FontAwesome;
    content: "\f137";
    position: relative;
    top: 2px;
    margin-left: 5px;
   }




   .contact {
       margin-top: 90px;
   }







   
   @media only screen and (max-width:900px){
       .content{
           direction: ltr;
           width: 90%;
       }

       .products-box{
           border-right: none;
       }
   }
   
   @media only screen and (max-width:700px){
       .products-box{
           display: block;
           flex-wrap: unset;
       }
   
       .products-box .product{
           display: block;
           width: 100% !important;
           margin:30px 5px;
           border: 1px solid rgb(230, 230, 230);
           text-align: right;
           transition: opacity 0.5s;
       }
   }