@font-face {
    font-family: 'yekan';
    src: url(fonts/Yekan/Yekan.eot);
    src: url(fonts/Yekan/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan/Yekan.woff) format("woff"),
        url(fonts/Yekan/Yekan.ttf) format("truetype"), url(fonts/Yekan/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iranyekan';
    src: url(fonts/IranYekan/eot/iranyekanwebregular.eot);
    src: url(fonts/IranYekan/eot/iranyekanwebregular.eot) format("embedded-opentype"),
        url(fonts/IranYekan/woff/iranyekanwebregular.woff) format("woff"),
        url(fonts/IranYekan/ttf/iranyekanwebregular.ttf) format("truetype"),
        url(fonts/IranYekan/svg/iranyekanwebregular.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}


a {
    color: inherit;
}


* {
    box-sizing: border-box;
    font-family: Iranyekan;
    direction: rtl;
}


a:hover {
    text-decoration: none;
    color: inherit;
}



.hd-box {
    direction: rtl;
    width: 100%;
    padding: 10px 13%;
    padding-bottom: 15px;
    text-align: right;
    box-shadow: 1px 1px 5px lightgrey;
    background-color: white;
}

.logo {
    display: inline-block;
    width: 130px;
    text-align: right;
    position: relative;
}

.logo img {
    width: 100%;
    height: auto;
}



nav {
    display: inline-block;
    margin-right: 60px;
    z-index: 111111111;
    height: 100%;
}

nav li {
    display: inline-block;
}

nav li > a {
    text-decoration: none;
    color: #0c0b0b;
    display: block;
    padding: 10px 18px;
}

nav li a{
    transition: 0.25s padding;
}

nav li a i {
    position: relative;
    top: 8px;
}


nav li a:hover {
    color: rgb(0, 176, 240);
    padding-right: 25px;
    text-decoration: none;
}

#nav-card-buy{
    margin-right:15px;
}

#nav-card-buy a{
    box-shadow: 1px 1px 5px lightgray;
}

#nav-card-buy a:hover{
    padding-right: 16px;
    color: rgb(0, 176, 240);
}


.nav-drop-down{
    width: 100%;
    padding:15px 13%;
    display: flex;
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 1px 5px lightgray;
    position: absolute;
    right: 0;
    z-index: 1;
    display: none;
}

.nav-drop-down>a{
    direction: rtl;
    text-align: right;
    flex: 1;
    margin: 10px 0;
}

.nav-drop-down a::before{
    font-family: FontAwesome;
    content: "\f0d9";
    position: relative;
    top: 1px;
    margin-left: 10px;
    color: rgb(0, 176, 240);
}

.nav-drop-down-item:hover .nav-drop-down{
    display: flex;
}

.hd-options {
    float: left;
    direction: ltr;
    margin-top: 12px;
}

.hd-options * {
    display: inline-block;
}

.hd-options a {
    border-radius: 50%;
    padding: 0px 4px;
    background-color: #ff4747;
    /* box-shadow: 1px 1px 5px black; */
    transition: opacity 0.5s;
}

.hd-options a i {
    position: relative;
    top: 3.5px;
    color: white;
}


.hd-options .card {
    border: none;
    border-radius: 20px;
    background-color: #ffc107;
    color: white;
    padding: 8px 14px;
    box-shadow: 1px 1px 5px lightgray;
}


.card:hover
{
    color: #ffc107;
    background-color: white;
    transition: 0.25s;
    border: 1px solid lightgray;    
}


#hd-cart {
    background-color: #eb579c;


}

#hd-cart i {
    color: white;
    font-size: 20px;
    margin: 3px 2px;
}

#hd-account {
    background-color: rgb(0, 176, 240);
}

#hd-account i {
    color: white;
    font-size: 20px;
    margin: 3px 2px;
}

.card {
    border: none;
    border-radius: 20px;
    background-color: #3786ed;
    color: white;
    padding: 8px 8px;
    /* box-shadow: 1px 1px 5px 3px #e0ddd7; */
    width:auto !important;
}


.story {
    text-align: right;
    flex:2;
}

.story p {
    font-weight: normal;
}

.story h4 i {
    color: #2a77eb;
    margin-left: 3px;
}

.ft-go-up {
    width: 100%;
    height: 35px;
    padding: 5px;
    text-align: center;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 -1px 5px lightgray;
}

.ft-go-up a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: gray;
    ;
}


.ft-go-up i {
    font-size: 25px;
    color: gray;
    cursor: pointer;
    transition:0.5s opacity; 
}

.ft-go-up a:hover i{
    opacity: 0.5;
}

.ft-box {
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    background-image: url(./../images/ft-pattern.png);
    background-size: cover;
    padding: 50px 13%;
    padding-bottom: 50px;
}

.ft-columns {
    width: 100%;
    display: flex;
    direction: rtl;
    text-align: right;
}

.ft-columns div {
    flex: 1;
    padding: 0 0px 20px 50px;
}



.ft-columns-title {
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: right;
}

.ft-columns-title a:hover 
{
    color:red;
}



.ft-columns-title i {
    margin-left: 5px;
    color: #2a77eb;
}


/* .ft-columns-title::before
{
	font-family: "Font Awesome 5 Free";
	content:"\f105";
} */

.ft-columns p,
a,
li {
    color: rgb(87, 87, 87);
    list-style-type: square;
    font-size: 14px;
}

.ft-newsletter {
    text-align: left;
    direction: rtl;
    width: 100%;
    padding: 50px;
    padding-top: 20px;
    padding-left: 0 !important;
    border: none !important;
    text-align: right;
}

.ft-newsletter form input {
    display: inline-block;
    width: 70%;
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 10px rgb(175, 175, 175);
    border-radius: 5px;
}

.ft-newsletter form button {
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 10px rgb(175, 175, 175);
    border-radius: 5px;
    background-color: #3786ed;
    color: white;
    display: inline-block;
    margin-top: 10px;
    width: 25%;

}


.ft-newsletter form p {
    font-weight: bold;
}

.ft-newsletter form *:focus {
    outline: none;
}

.ft-newsletter div {
    margin-top: 10px;
    display: flex;
    width: 100%;
    padding: 0;
}

.ft-newsletter div a {
    flex: 1;
    display: block;
    margin: 2px;
    padding: 20px;
    background-color: #fafafa;
    box-shadow: 1px 1px 5px rgb(190, 190, 190);
    border-radius: 5px;
}

.ft-newsletter div a img {
    width: 100%;
    height: 100%;
}


.ft-copyright {
    display: block;
    width: 100%;
    padding: 10px 13%;
    background-color: #3786ed;
    text-align: right;
    color: rgb(61, 61, 61);
    overflow: auto;
    clear: both;
}

.ft-copyright p {
    color: white;
    margin: 0;
    font-size: 13px;
}

.ft-copyright #cr{
    float: right;
}

.ft-copyright #dev{
    float: left;
}

.ft-copyright #dev span{
    padding:2px;
    border-radius: 5px;
    background-color: white;
    color: #3786ed;
}

.ft-description p {
    font-size: 13px;
}

.ft-columns-header {
    padding-bottom: 10px;
    direction: rtl;
    margin-top: 25px;
}

footer li {
    list-style-type: none;
}



footer .title h4 {
    list-style-type: disc;
    font-size: 18px;
    display: flex;
    font-weight: bold;
    padding: 50px;
}

footer .title {
    text-align: right;
}



footer .ft-box-about {
    display: flex;
    font-size: 15px;
    font-weight: bolder;
    list-style-type: disc;
    margin-bottom: 50px;
}

footer .ft-box-namad {
    text-align: right;
    direction: ltr;
    display: flex;
    padding:10px 50px 0 0px;
}

footer .ft-box-namad a{
    flex: 1;
    margin:5px 10px 5px 0;
    display: block;
    border-radius: 5px;
    border:1px solid rgb(211, 211, 211);
    background-color: rgb(243, 243, 243);
    box-shadow: 1px 1px 3px lightgray;
    padding: 10px 13.4px;
    align-content: center;
    transition: box-shadow 1s;
}

footer .ft-box-namad a:hover{
    box-shadow: 4px 4px 15px lightgray;
}

footer .ft-box-namad a img{
    display: block;
    margin: auto;
    width:72px;
    padding: 0px;
}


footer .ft-social-media {
    text-align: right;
    flex: 2;
    overflow: auto;
    clear: both;
}

.ft-social-media h4{
    float: right;
}

.ft-social-media h4 i {
    color: #3786ed;
    margin-left: 3px;
}

.icons-social {
    display: flex;
    float: left;
    cursor: pointer;
}

.icons-social a {
    display: block;
    padding:10px 10px 5px 10px;
    background-color: white;
    box-shadow: 1px 1px 5px lightgray;
    margin-right: 10px;
    border-radius: 5px;
    transition: 0.25s background-color;
}

.icons-social a i{
    color: white;
    font-size: 30px;
    transition: 0.25s color;
}

.icons-social a:hover{
    background-color: white !important;
}

.icons-social #whatsapp{
    background-color: #69f75c;
}

.icons-social #whatsapp:hover i{
    color: #69f75c;
}

.icons-social #insta{
    background-color: #f06846;
}

.icons-social #insta:hover i{
    color: #f06846;
}

.icons-social #linkedin{
    background-color: #325dba;
}

.icons-social #linkedin:hover i{
    color: #325dba;
}

.icons-social #telegram{
    background-color: #4d9feb;
}

.icons-social #telegram:hover i{
    color: #4d9feb;
}

.navopener{
    float: right;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    background-color: #fff;
    color: #333;
    display: none;
    cursor: pointer;
    position: absolute;
}

.ft-cl li{
    margin-bottom: 5px;
}

.ft-cl li a{
    transition: 0.25s padding;
}

.ft-cl li a:hover 
{
    color:#3786ed;

    padding-right: 5px;
}

@media only screen and (max-width:1000px){
    .logo img {
        width: 80px;
        height: auto;
    }

    .ft-box {
        padding: 30px;
    }

    .hd-box nav{
        display: none
    }

    nav li > a {
        padding: 10px 8px;
        width: 100%;
        float: right;
    }

    nav li{
        display: inline-block;
        width: 100%;
    }

    nav{
        padding-top: 20px;
        width: 100%;
        margin-right: 0px;
    }

    .hd-box{
        padding: 20px 5%;
        overflow: auto;
        clear: both;
    }

    .navopener{
        display: block;
        box-shadow: none;
    }

    .hd-options{
        position: absolute;
        top: 5px;
        left: 8%;
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    .logo {
        display: block;
        float: left;
        position: relative;
        left: 40px;
    }

    #auth-item{
        position: relative;
        top: 5px;
    }

    #auth-item a{
        padding:4px 5px;
    }

    #auth-item a i{
        font-size: 25px;
        position: relative;
        bottom: 3px;
    }

    .nav-drop-down-item>a{
        padding-top: 0;
    }

    .nav-drop-down{
        position: relative;
        padding:10px;
        top: 40px;
    }

    .nav-drop-down a{
        display: block;
        width: 100% !important;
    }

    .nav-drop-down-item:hover .nav-drop-down{
        display: block;
    }

    #nav-card-buy{
        margin-right: 0;
    }
}

@media only screen and (max-width:700px){

    .ft-cl{
        float: right;
        width: 100%;
        flex: auto !important;
        padding: 0 !important;
        margin-bottom: 20px;
    }

    .ft-newsletter{
        flex: none !important;
    }

    .ft-box-about{
        display: block !important;
    }

    .ft-copyright p{
        float: none !important;
        text-align: center;
        margin-bottom: 10px;
    }

    .ft-copyright{
        text-align: center;
    }
}


@media only screen and (max-width:900px) {
    .ft-columns {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        direction: rtl;
        text-align: right;
    }

    .ft-columns div {
        flex-basis: 10%;
        padding: 20px;
        padding-top: 0;
        padding-right: 50px;
    }

    
    .ft-cl{
        float: right;
        width: 100%;
        flex: 1;
        padding: 0 !important;
        margin-bottom: 20px;
    }

    .ft-newsletter{
        flex: none !important;
    }

}



@media only screen and (max-width: 1060px) {

    .ft-columns p,
    a,
    li {
        font-size: 12px;
    }

    nav li > a {
        padding: 10px 8px;
    }
}
