h4
{
       text-align: center;
}


.space 
{
       margin-top:40px
}

.btn
{
       width: 100%;
}

.card-body
{
       padding: 4.25rem;
}

label 
{
       float: right;
}

.card-header 
{
       text-align: right;
}