@font-face {
    font-family: 'yekan';
    src: url(fonts/Yekan/Yekan.eot);
    src: url(fonts/Yekan/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan/Yekan.woff) format("woff"),
    url(fonts/Yekan/Yekan.ttf) format("truetype"), url(fonts/Yekan/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
}
   
@font-face {
    font-family: 'Iranyekan';
    src: url(fonts/IranYekan/eot/iranyekanwebregular.eot);
    src: url(fonts/IranYekan/eot/iranyekanwebregular.eot) format("embedded-opentype"),
    url(fonts/IranYekan/woff/iranyekanwebregular.woff) format("woff"),
    url(fonts/IranYekan/ttf/iranyekanwebregular.ttf) format("truetype"),
    url(fonts/IranYekan/svg/iranyekanwebregular.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}
   
html{
    scroll-behavior: smooth;
}
   
a{
    color: inherit;
}
   
*{
    box-sizing: border-box;
    font-family: Iranyekan;
    direction: rtl;
}
   
a:hover {
    text-decoration: none;
    color: inherit;
}

body{
    background-color: rgb(249, 249, 249);
    font-family: Iranyekan;
}

header{
    width: 100%;
    height: 50px;
    background-color: #3786ed;
    padding:10px 6%;
}

header h5{
    color: white;
    float: right;
}

header>div{
    float: left;
    color: #3786ed;
}

header .back-to-website-button{
    display: inline-block;
    padding:5px 10px;
    background-color: white;
    
    border-radius: 5px;
}

header .logout-button{
    display: inline-block;
    padding:5px 10px;
    color: red;
    background-color: white;
    border-radius: 5px;
}

.content{
    display: flex;
    border-radius: 10px;
    width: 89%;
    margin:30px auto;
    box-shadow: 1px 1px 5px lightgray;
    background-color: white;
    direction: rtl;
}

.sidebar{
    background-color: rgb(88, 87, 87);
    border-radius: 0 10px 10px 0;
    flex: 0.7;
}

.inner-content{
    overflow: auto;
    padding:30px;
    flex: 3;
}

.content .design-ppic-backg{
    width: 100%;
    height: 150px;
    background-color: rgb(79, 94, 107);
    border-radius: 0px 10px 40% 40%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0,0.5);
    position: relative;
}

.design-ppic-backg .ppic{
    border-radius: 50%;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.design-ppic-backg .ppic img{
    width: 100%;
}

.menu{
    margin-top: 100px;
    margin-bottom: 40px;
    padding-right: 20px;
    position: relative;
}

.menu li{
    margin:5px 0px 5px 0;
    color: white;
    list-style-type: none;
    text-align: right;
    border-radius: 0 15px 15px 0;
}

.menu li>a{
    display: block;
    border-radius: 0 15px 15px 0;
    width: 100%;
    height: 100%;
    padding:10px;
}

.menu li>a::after{
    font-family: FontAwesome;
    content: "\f104";
    float: left;
    margin-left: 20px;
}

.menu li>a:hover{
    background-color: rgb(218, 235, 255);
    color: rgb(13, 138, 252);
}

.menu #partner a{
    color: gold;
}

.menu #partner a:hover{
    background-color: gold;
    color:rgb(88, 87, 87);
}

.menu .drop-down-box{
    display: none;
    position: absolute;
    right: 100%;
    top: 90px;
    width: 60%;
    background-color: rgb(66, 66, 66);
    border-radius:10px 0px 0px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.menu .drop-down-box a{
    display: block;
    width: 100%;
    padding:10px;
    border-radius: 10px 0 0 10px;
}

.menu .drop-down-box a:hover{
    color: rgb(13, 138, 252);
}

.menu #dd-item:hover .drop-down-box{
    display: block;
}
.right-box{
    min-height:200px;
    width:100%;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.18);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
}
.right-box .title-wrapper{
    width:100%;
    height:50px;

}
.title-count{
    display: block;
    width:35px;
    height:35px;
    background: #eeeeee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.title-count p{
    font-size: 20px;
    font-weight: bold;
}
.item-date{
    padding:3px;
}
.ticket-status{
    background: #cacaca;
    border-radius: 5px;
    font-size:11px;
    padding:3px 5px;

}
.font-13{
    font-size:13px;
}
.font-14{
    font-size:14px;
}
.font-15{
    font-size:15px;
}
.font-16{
    font-size:16px;
}
.font-17{
    font-size:18px;
}